@media (min-width: 992px) {
  #navbarItems {
    display: flex;
    justify-content: space-between;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-size: 1.2em;
}

nav img {
  width: 50px;
  margin-right: 0.3em;
}

nav.navbar a {
  color: var(--primary-color);
  font-size: 1.2em;
  transition: 0.8s;
}

nav.navbar a.nav-link:hover,
nav.navbar a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

nav.navbar a.active.nav-link {
  color: var(--primary-color);
  text-decoration: underline;
}

#user-link {
  text-decoration: none;
}
