@media (min-width: 992px) {
  #navbarItems {
    display: flex;
    justify-content: space-between;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-size: 1.2em;
}

nav img {
  width: 50px;
  margin-right: 0.3em;
}

nav.navbar a {
  color: var(--primary-color);
}
